body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 149, 255);
}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25pt;
    margin-top: 50px;
    color: aliceblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}